* {
    font-family: sans-serif;
    color: white;
}

body {
    background: #333;
}

button {
    color: white;
    background-color: #6F9283;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    margin: 15px;
    font-weight: 100;
}

button:last-of-type {
    background-color: #FF851B;
}

#buttons {
    display: flex;
    justify-content: center;
}

#beer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}